<form class="search-box" method="get">
  <input type="text" name="query" placeholder="Search..." autofocus>
  <input class="btn-inverse" type="submit" value="Search">
</form>
<div id="search_results">
  <h2 class>Search Results:</h2>
  <table class="table">
    <% if @search_results %>
      <tbody>
        <% @search_results.each do |result| %>
          <tr>
            <td><img src="<%= result[:image] %>"></td>
            <td style="vertical-align: middle;"><a href="https://www.amazon.com/dp/<%= result[:asin]%>"><%= result[:title] %></a></td>
            <td><%= result[:rankings] %></td>
            <td><button type="button" name="button">Track</button></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
