<form class="search-box" method="get">
  <input type="text" name="query" placeholder="Search..." autofocus>
  <input class="btn-inverse" type="submit" value="Search">
</form>
<div id="search_results">
  <h2 class>Search Results:</h2>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td><img src="http://ecx.images-amazon.com/images/I/414jsKGvVKL._SL75_.jpg" height="100px" width="100px"></td>
        <td>Nivea Crème 400 ML (13.53 fl oz) Pack of 2</td>
        <td>177988 ----- 1554</td>
        <td><button type="button" name="button">Track</button></td>
      </tr>
  </table>
</div>
