<% if @errors %>
<div>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% elsif @success %>
  <div>
    <p style="color:green;"><%= @success %></p>
  </div>
<% end %>
